<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
<listeners>
		<listener class-name="com.Serviceobjectmodel.Listeners.TestListener"/>
		</listeners>
  <test thread-count="5" name="Test">
   <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.Serviceobjectmodel.Base.TestBaseService"/>
      <class name="com.Serviceobjectmodel.Scripts.ServiceLoginTest"/>
      <class name="com.Serviceobjectmodel.Scripts.HomeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
